<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />

  <script src="node_modules/onsenui/js/onsenui.js"></script>

  <link rel="stylesheet" href="node_modules/onsenui/css/onsenui.css" type="text/css" media="all" />
  <link rel="stylesheet" href="node_modules/onsenui/css/onsen-css-components.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/main.css" type="text/css" />
  <title>asagao</title>
</head>
<body>
    <ons-page id="main">

    <ons-tabbar>
      <ons-tab page="timeline.html" label="Home" icon="ion-home" active="true" v-on:click="a"></ons-tab>
      <ons-tab page="timeline.html" label="Mentions" icon="ion-at">
        <div class="notification reply-notification" ons-tab-inactive></div>
        <ons-icon icon="ion-at" class="tab-icon"></ons-icon>
      </ons-tab>
      <ons-tab page="timeline.html">
        <ons-icon icon="ion-heart" class="tab-icon"></ons-icon>
      </ons-tab>
      <ons-tab page="timeline.html">
        <ons-icon icon="ion-person" class="tab-icon"></ons-icon>
      </ons-tab>
    </ons-tabbar>
      <ons-template id="timeline.html">
      <ons-page>
        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button>
              <ons-icon icon="ion-compose" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">
            Timeline
          </div>
          <div class="right">
            <ons-toolbar-button>
              <ons-icon icon="ion-ios-search-strong" fixed-width="false" style="font-size: 26px; vertical-align: -4px;"></ons-icon>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

        <ons-row class="tweetarea">
          <ons-col width="80%">
            <textarea class="textarea" row="2" width="100%" v-model="tweettext"></textarea>
          </ons-col>
          <ons-col width="20%" style="text-align: center;">
            <ons-button class="tweetbutton" modifier="cta" v-on:click="tweet">Tweet</ons-button>
          </ons-col>
        </ons-row>

          <ons-list class="timeline" v-for="tweet in tweets">
            <ons-list-item class="timeline-li" modifier="tappable">
              <ons-row>
                <ons-col width="50px">
                  <img v-bind:src="tweet.user.profile_image_url" class="timeline-image">
                </ons-col>

                <ons-col>
                  <div class="timeline-date">{{tweet.created_at}}</div>
                  <div class="timline-from">
                    <span class="timeline-name">{{tweet.user.name}}</span>
                    <span class="timeline-id">@{{tweet.user.screen_name}}</span>
                  </div>

                  <div class="timeline-message">
                    {{{tweet.text | br2nl}}}
                  </div>

                  <div id="imagethumb" v-for="m in tweet.media" style="float:left; margin: 2px;">
                      <img v-on:click="openImageWindow(m.url, m.h, m.w, $event)" src="{{m.url}}:thumb" width="100px">
                  </div>
                </ons-col>
              </ons-row>
            </ons-list-item>
          </ons-list>


      </ons-page>
    </ons-template>

    </ons-page>
  <script src="app/main.js"></script>
  <script src="app/client.js"></script>
  <script src="app/timeline.js"></script>
</body>
</html>