.reply-notification {
  position: absolute;
  top: 28px;
  font-size: 10px;
  font-weight: 600;
  height: 13px;
  line-height: 13px;
  padding: 0 4px;
  min-width: 13px;
  margin-left: 18px;
}

.tab-icon {
  font-size: 28px;
  vertical-align: -4px;
}

.profile-image-col {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.timeline {
  padding-top: 52px;
}

.timeline-li {
  line-height: 1;
  padding: 5px;
}

.timeline-li-frame {
  border-left: 2px solid gray;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.retweeted {
  border-left: 2px solid gray;
}

.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 0.35;
}

.timeline-from {
  margin: 10px 0 6px 0;
}

.timeline-name {
  font-size: 12px;
  font-weight: 500;
}

.timeline-id {
  font-size: 11px;
  color: gray;
  font-weight: 1000;
}

.timeline-protected {
  font-size: 11px;
  color: gray;
}

.timeline-message {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 20px;
  font-size: 12px;
  opacity: 0.9;
  line-height: 1.3;
}

.timeline-actions {
  float: right;
  color: gray;
}

.textarea {
  width: 100%;
  font-size: 12px;
  opacity: 0.9;
}

.tweet-area {
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  background-color: white;
  border-bottom: 1px solid gray;
}

.tweet-length {
  position: absolute;
  bottom: 0;
}

.tweet-button {
  position: absolute;
  top: 10%;
  right: 1%;
}

.imagethumb {
  display: inline;
  border-radius: 4px;
}

/* onsenui2.0beta7 bug?
  .list__item__center -> margin-left: 26px; */
.list__item__center {
  margin-left: 0;
}