<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">

  <script src="../node_modules/onsenui/js/onsenui.js"></script>

  <link rel="stylesheet" href="../node_modules/onsenui/css/onsenui.css" type="text/css" media="all" />
  <link rel="stylesheet" href="../node_modules/onsenui/css/onsen-css-components.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/main.css" type="text/css" />

  <title>asagao</title>
</head>
<body>
  <ons-page id="main">

    <ons-tabbar var="tab">
      <ons-tab page="timeline.html" label="Home" icon="fa-home" active="true" v-on:click="setTitle('Timeline')" persistent></ons-tab>
      <ons-tab page="mentions.html" label="Mentions" icon="ion-at" v-on:click="setTitle('Mentions')" persistent></ons-tab>
      <ons-tab page="favorites.html" label="Favorites" icon="fa-star" v-on:click="setTitle('Favorites')" persistent></ons-tab>
    </ons-tabbar>

    <ons-toolbar>
      <div class="center">
        {{title}}
      </div>
      <div class="right">
        <ons-toolbar-button>
          <ons-icon icon="ion-ios-reload" v-on:click="tweetload(false)" fixed-width="false" style="font-size: 26px; vertical-align: -4px;"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>


    <ons-row class="tweet-area">
      <ons-col width="10%" class="profile-image-col">
        <img v-bind:src="user.profile_image_url" class="timeline-image" style="margin-top: 6px;">
      </ons-col>
      <ons-col width="70%">
        <textarea class="textarea textarea--transparent" id="tweettext" rows="3" width="100%" maxlength="140" v-model="tweettext"></textarea>
      </ons-col>
      <ons-col v-show="tweettext" style="display:none;" width="5%" class="tweet-length">
        {{140-tweettext.length}}
      </ons-col>
      <ons-col width="15%" style="text-align: center;">
        <ons-button class="tweet-button" v-on:click="tweet">Tweet</ons-button>
      </ons-col>
    </ons-row>

    <ons-template id="timeline.html">
      <ons-page id="timeline">

        <ons-list class="timeline">
          <timeline-home v-for="tweet in tweets" :tweet="tweet" :user="user"></timeline-home>
        </ons-list>


      </ons-page>
    </ons-template>

    <ons-template id="mentions.html">
      <ons-page>

        <ons-list class="timeline">
          <timeline-mentions v-for="tweet in mentions" :tweet="tweet" :user="user"></timeline-mentions>
        </ons-list>

      </ons-page>
    </ons-template>

    <ons-template id="favorites.html">
      <ons-page>

        <ons-list class="timeline">
          <timeline-favorites v-for="tweet in favorites" :tweet="tweet" :user="user"></timeline-favorites>
        </ons-list>

      </ons-page>
    </ons-template>

    <script id="tweet-component" type="x-template">

      <ons-list-item class="timeline-li">
        <ons-row>
          <ons-col v-if="tweet.retweeted" class="retweeted" width="50px">
            <img v-bind:src="tweet.user.profile_image_url" class="timeline-image">
          </ons-col>
          <ons-col v-else width="50px">
            <img v-bind:src="tweet.user.profile_image_url" class="timeline-image">
          </ons-col>

          <ons-col>

            <div class="timeline-date">{{tweet.relative_created_at}}</div>
            <div class="timline-from">
              <span class="timeline-name">{{tweet.user.name}}</span>
              <span class="timeline-id">@{{tweet.user.screen_name}}</span>
              <span v-if="tweet.user.protected" class="timeline-protected"><ons-icon icon="fa-lock"></ons-icon></span>
              <span v-if="tweet.user.verified" class="timeline-verified"><ons-icon icon="fa-check-circle"></ons-icon></span>
            </div>
            
            <div class="timeline-actions">
              <div>
                <ons-icon v-if="tweet.user.id_str == user.id_str" icon="fa-trash" v-on:click="deleteTweet(tweet.id_str)"></ons-icon>
                <ons-icon v-else icon="fa-reply" v-on:click="setReply(tweet.user.screen_name, tweet.id_str)"></ons-icon>
              </div>
              <div>
                <ons-icon v-if="tweet.favorited" icon="fa-star" v-on:click="setFavorite(tweet.id_str, false)" style="color: yellow"></ons-icon>
                <ons-icon v-else icon="fa-star-o" v-on:click="setFavorite(tweet.id_str, true)"></ons-icon>
              </div>
            </div>

            <div class="timeline-message">
              {{{tweet.text | br2nl}}}
            </div>

            <ons-list-item class="timeline-li timeline-li-frame" v-if=tweet.rt>
              <ons-col>
                <div class="timeline-date">{{tweet.rt.relative_created_at}}</div>
                <div class="timline-from">
                  <span class="timeline-name">{{tweet.rt.user.name}}</span>
                  <span class="timeline-id">@{{tweet.rt.user.screen_name}}</span>
                  <span v-if="tweet.user.protected" class="timeline-protected"><ons-icon icon="fa-lock"></ons-icon></span>
                </div>





                <div class="timeline-message">
                  {{{tweet.rt.text | br2nl}}}
                </div>

                <div class="imagethumb" v-for="m in tweet.rt.media">
                <img v-if="m.url_video" v-on:click="openImageWindow(m.url_video, m.height, m.width)" v-bind:src="m.url_thumb" width="100px">
                <img v-else v-on:click="openImageWindow(m.url_image, m.height, m.width)" v-bind:src="m.url_thumb" width="100px">
                </div>
              </ons-col>
            </ons-list-item>

            <div class="imagethumb" v-for="m in tweet.media">
                <img v-if="m.url_video" v-on:click="openImageWindow(m.url_video, m.height, m.width)" v-bind:src="m.url_thumb" width="100px">
                <img v-else v-on:click="openImageWindow(m.url_image, m.height, m.width)" v-bind:src="m.url_thumb" width="100px">
            </div>

            <div class="timeline-name" v-if="tweet.retweeted">
              Retweeted by {{tweet.retweeted_user}}
            </div>
          </ons-col>
        </ons-row>

      </ons-list-item>
    </script>

  </ons-page>


  <script src="../app/main.js"></script>

  

</body>
</html>