<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">

  <script src="../node_modules/onsenui/js/onsenui.js"></script>

  <link rel="stylesheet" href="../node_modules/onsenui/css/onsenui.css" type="text/css" media="all" />
  <link rel="stylesheet" href="../node_modules/onsenui/css/onsen-css-components.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/main.css" type="text/css" />

  <title>asagao</title>
</head>
<body>
  <ons-page id="main">

    <ons-tabbar var="tab">
      <ons-tab page="timeline.html" label="Home" icon="ion-home" active="true" persistent></ons-tab>
      <ons-tab page="mentions.html" label="Mentions" icon="ion-at" persistent></ons-tab>
    </ons-tabbar>


    <ons-row class="tweet-area">
      <ons-col width="80%">
        <textarea class="textarea" rows="3" width="100%" maxlength="140" v-model="tweettext"></textarea>
      </ons-col>
      <ons-col v-show="tweettext" style="display:none;" width="5%" class="tweet-length">
        {{140-tweettext.length}}
      </ons-col>
      <ons-col width="15%" style="text-align: center;">
        <ons-button class="tweet-button" v-on:click="tweet">Tweet</ons-button>
      </ons-col>
    </ons-row>

    <ons-template id="timeline.html">
      <ons-page id="timeline">

        <ons-list class="timeline">
          <ons-list-item v-show="tweets" style="display:none;" v-for="tweet in tweets" class="timeline-li" modifier="tappable">
            <ons-row>
              <ons-col v-if="tweet.retweeted" class="retweeted" width="50px">
                <img v-bind:src="tweet.user.profile_image_url" class="timeline-image">
              </ons-col>
              <ons-col v-else width="50px">
                <img v-bind:src="tweet.user.profile_image_url" class="timeline-image">
              </ons-col>

              <ons-col>
                <div class="timeline-date">{{tweet.relative_created_at}}</div>
                <div class="timline-from">
                  <span class="timeline-name">{{tweet.user.name}}</span>
                  <span class="timeline-id">@{{tweet.user.screen_name}}</span>
                </div>

                <div class="timeline-message">
                  {{{tweet.text | br2nl}}}
                </div>
                
                <div class="timeline-reply">
                  <ons-icon icon="ion-reply"></ons-icon>
                </div>

                <ons-list-item class="timeline-li timeline-li-frame" v-if=tweet.rt>
                  <ons-col>
                    <div class="timeline-date">{{tweet.rt.created_at}}</div>
                    <div class="timline-from">
                      <span class="timeline-name">{{tweet.rt.user.name}}</span>
                      <span class="timeline-id">@{{tweet.rt.user.screen_name}}</span>
                    </div>

                    <div class="timeline-message">
                      {{{tweet.rt.text | br2nl}}}
                    </div>

                    <div class="imagethumb" v-for="m in tweet.rt.media">
                    <img v-if="m.url_video" v-on:click="openImageWindow(m.url_video, m.height, m.width, $event)" v-bind:src="m.url_thumb" width="100px">
                    <img v-else v-on:click="openImageWindow(m.url_image, m.height, m.width, $event)" v-bind:src="m.url_thumb" width="100px">
                    </div>
                  </ons-col>
                </ons-list-item>

                <div class="imagethumb" v-for="m in tweet.media">
                    <img v-if="m.url_video" v-on:click="openImageWindow(m.url_video, m.height, m.width, $event)" v-bind:src="m.url_thumb" width="100px">
                    <img v-else v-on:click="openImageWindow(m.url_image, m.height, m.width, $event)" v-bind:src="m.url_thumb" width="100px">
                </div>

                <div class="timeline-name" v-if="tweet.retweeted">
                  Retweeted by {{tweet.retweeted_user}}
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>


      </ons-page>
    </ons-template>

    <ons-template id="mentions.html">
      <ons-page>

        <ons-list class="timeline">
          <ons-list-item v-for="tweet in mentions" class="timeline-li" modifier="tappable">
            <ons-row>
              <ons-col v-if="tweet.retweeted" class="retweeted" width="50px">
                <img v-bind:src="tweet.user.profile_image_url" class="timeline-image">
              </ons-col>
              <ons-col v-else width="50px">
                <img v-bind:src="tweet.user.profile_image_url" class="timeline-image">
              </ons-col>

              <ons-col>
                <div class="timeline-date">{{tweet.relative_created_at}}</div>
                <div class="timline-from">
                  <span class="timeline-name">{{tweet.user.name}}</span>
                  <span class="timeline-id">@{{tweet.user.screen_name}}</span>
                </div>

                <div class="timeline-message">
                  {{{tweet.text | br2nl}}}
                </div>

                <ons-list-item class="timeline-li timeline-li-frame" v-if=tweet.rt>
                  <ons-col>
                    <div class="timeline-date">{{tweet.rt.relative_created_at}}</div>
                    <div class="timline-from">
                      <span class="timeline-name">{{tweet.rt.user.name}}</span>
                      <span class="timeline-id">@{{tweet.rt.user.screen_name}}</span>
                    </div>

                    <div class="timeline-message">
                      {{{tweet.rt.text | br2nl}}}
                    </div>

                    <div class="imagethumb" v-for="m in tweet.rt.media">
                    <img v-if="m.url_video" v-on:click="openImageWindow(m.url_video, m.height, m.width, $event)" v-bind:src="m.url_thumb" width="100px">
                    <img v-else v-on:click="openImageWindow(m.url_image, m.height, m.width, $event)" v-bind:src="m.url_thumb" width="100px">
                    </div>
                  </ons-col>
                </ons-list-item>

                <div class="imagethumb" v-for="m in tweet.media">
                    <img v-if="m.url_video" v-on:click="openImageWindow(m.url_video, m.height, m.width, $event)" v-bind:src="m.url_thumb" width="100px">
                    <img v-else v-on:click="openImageWindow(m.url_image, m.height, m.width, $event)" v-bind:src="m.url_thumb" width="100px">
                </div>

                <div class="timeline-name" v-if="tweet.retweeted">
                  Retweeted by {{tweet.retweeted_user}}
                </div>
              </ons-col>
            </ons-row>
          </ons-list-item>
        </ons-list>


      </ons-page>
    </ons-template>

  </ons-page>


  <script src="../app/main.js"></script>
  <script src="../app/vue.js"></script>

  

</body>
</html>